/* --------------- RESETS --------------- */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

a{
    text-decoration: none;
    color: var(--black);
}

a:visited{
    color: var(--black);
}

input{
    outline: none;
}

ul li{
    text-decoration: none;
    list-style: none;
}

/* --------------- DEFINIÇÕES --------------- */

:root{
    --black: #373737;
    --white: #FBFBFB;
    --grey: #EDEDED;
    --dark-grey: #9d9d9d;
    --gold: #FF971D;
    --green: #1CDC5E;
}

/* --------------- CLASSES REUTULIZÁVEIS --------------- */

.container{
    height: auto;
    margin: 1rem 1rem;
}

.divider{
    border: 0.5rem solid var(--grey);
    margin: 2rem 0;
}