/* --------------- RESETS --------------- */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

a{
    text-decoration: none;
}

input{
    outline: none;
}

main{
    margin: 0 1rem;
}

ul li{
    text-decoration: none;
    list-style: none;
}

/* --------------- DEFINIÇÕES --------------- */

:root{
    --black: #373737;
    --white: #FBFBFB;
    --grey: #EDEDED;
    --gold: #FF971D;
    --green: #1CDC5E;
}