
/* --------------- HEADER --------------- */
header{
    height: auto;
    background-color: var(--black);
    color:var(--white);
    padding: 1rem 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    max-width: 1200px;
    width: 100%;
}

.header-message{
    background-color: var(--white);
    color: var(--black);
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
    border-radius: 0.5rem;
}


/* --------------- LOGO --------------- */
.logo{
    display: flex;
    position: relative;
    height: 5.5rem;
    width: 5.5rem;
}

.logo-space-btwn{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-margin{
    margin-bottom: .2rem;
}

.logo-container{
    display: flex;
}

.logo img:nth-child(2){
    position: absolute;
    left: 4.3rem;
    top: 0.2rem;
}

/* --------------- LOGO DESC --------------- */
.logo-desc{
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: .75rem;
    width: auto;
}

/* --------------- LOGO AVALIATION --------------- */
.logo-avaliation{
    display: flex;
    width: 2.9rem;
    background-color: var(--grey);
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--gold);
    padding: 0rem 0.4rem;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
}

.logo-avaliation p{
    margin-right: 0.2rem;
}

/* --------------- LOGO CATEGORY --------------- */
.logo-category{
    font-size: 0.8rem;
    font-weight: 200;
}

/* --------------- LOGO SOCIALS --------------- */
.socials{
    align-items: center;
    justify-content: center;
    margin-top: 0.4rem;
    width: 5.3rem;
}

.social-icons{
    display: flex;
    justify-content: space-between;
}

.open-info{
    display: grid;
    background-color: var(--green);
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    color: var(--white);
    width: auto;
    padding: 0.6rem 0rem;
    margin-top: 0.75rem;
}

.open-info p{
    display: flex;
    justify-content: center;
}

.open-info p img{
    margin-left: .5rem;
}

.open-info p:nth-child(1){
    font-size: 0.7rem;
}

.open-info p:nth-child(2){
    font-size: 0.7rem;
}

/* --------------- MENU --------------- */

.menu-list{
    display: flex;
    overflow: scroll;
    font-size: .85rem;
    font-weight: 500;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.menu-list::-webkit-scrollbar{
    display: none;
}

.menu-list li{
    padding: .4rem 0;
    margin-right: .4rem;
}

.menu-list .active{
    border-bottom: 2px solid var(--black);
}

/* --------------- SECTION --------------- */

section h1{
    font-size: 1.15rem;
    font-weight: 500;
}

/* --------------- CARD--------------- */

.card{
    display: flex;
    border: 1px solid var(--grey);
    border-radius: .5rem;
    height: 5.63rem;
    margin-top: .65rem;
}

.card-content{
    display: grid;
    align-items: center;
}

.card-space-btwn{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-image{
    height: 5.5rem;
    width: 5.5rem;
    background-image: url('/assets/img/burg.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem 0 0 0.5rem;
    background-repeat: no-repeat;
    margin-right: .5rem;
}

.card-title{
    font-size: .85rem;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.card-item-desc{
    font-size: 0.6rem;
    font-weight: 400;
    word-wrap: break-word;
    color: var(--dark-grey);
    height: 3.17rem;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.card-item-desc::-webkit-scrollbar {
    display: none;
}

.card-price{
    display: flex;
    font-weight: 500;
    align-items: center;
}

p.price{
    font-size: .8rem;
    margin-right: .5rem;
}

p.price-promo{
    font-size: .65rem;
    text-decoration: line-through;
}

.card-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-button{
    height: 1.85rem;
    width: 1.85rem;
    background: var(--black);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2.15rem;
}

/* --------------- CARRINHO --------------- */

.carrinho{
    position: fixed;
    bottom: 0;
    height: 3.4rem;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    width: 100%;
}

.cart-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 1rem;
}

.cart-display{
    padding: 0.4rem 0.8rem;
    background: var(--white);
    border-radius: 0.4rem;
    
}

.cart-title{
    color: var(--white);
    font-size: 1.2rem;
}

.cart-value{
    padding: 0.4rem 0.8rem;
    background: var(--white);
    border-radius: 0.4rem;
}